body {
	display: flex;
	justify-content: center;

	margin-top: 2.5rem;
}

main img {
	border: 3px solid black;
}

.knappar {
	display: flex;
	justify-content: space-around;

	margin-top: 0.325rem;
}

.knappar button {
	padding: 0.125rem;
	font-size: 0.875rem;
}
